header {
    height: 432px;
    color: #747E48;
    background-color: #EEFCB6;
}

header span {
    display: inline-block;
    width: 42px;
height: 5px;
background-color: #747E48;
}

header article h1 {
    font-size: 28px;
    font-weight: bold;
}
header article p{
    font-size: 19px;
}

h2{
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    color: #C2C2C2;
}

.foster_pic dt {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.foster_pic dd{
    font-size: 19px;
    text-align: center;
    color: #ffffff;
}

.foster_pic {    
    padding-top: 200px;    
    width: 280px;
    height: 280px;
    border-radius: 60%;

    background-size: cover;
    background-position: center;
}

.foster_row:first-of-type .gallery:first-of-type .foster_pic{
    background-image: url('lib/img/dog18.jpg');
}
.foster_row:first-of-type .gallery:nth-of-type(2) .foster_pic{
    background-image: url('lib/img/dog17.jpg');
}
.foster_row:first-of-type .gallery:nth-of-type(3) .foster_pic{
    background-image: url('lib/img/dog16.jpg');
}
.foster_row:first-of-type .gallery:nth-of-type(4) .foster_pic{
    background-image: url('lib/img/dog15.jpg');
}

.foster_row:nth-of-type(2) .gallery:first-of-type .foster_pic{
    background-image: url('lib/img/dog14.jpg');    
}
.foster_row:nth-of-type(2) .gallery:nth-of-type(2) .foster_pic{
    background-image: url('lib/img/dog13.jpg');
}
.foster_row:nth-of-type(2) .gallery:nth-of-type(3) .foster_pic{
    background-image: url('lib/img/dog12.jpg');
}
.foster_row:nth-of-type(2) .gallery:nth-of-type(4) .foster_pic{
    background-image: url('lib/img/dog11.jpg');
}

.foster_list  div:nth-of-type(3) .gallery:first-of-type .foster_pic{
    background-image: url('lib/img/dog10.jpg');   
}
.foster_list  div:nth-of-type(3) .gallery:nth-of-type(2) .foster_pic{
    background-image: url('lib/img/dog9.jpg');
}
.foster_list  div:nth-of-type(3) .gallery:nth-of-type(3) .foster_pic{
    background-image: url('lib/img/dog8.jpg');
}
.foster_list  div:nth-of-type(3) .gallery:nth-of-type(4) .foster_pic{
    background-image: url('lib/img/dog7.jpg');
}

.foster_list  div:nth-of-type(4) .gallery:first-of-type .foster_pic{
    background-image: url('lib/img/dog6.jpg');
}
.foster_list  div:nth-of-type(4) .gallery:nth-of-type(2) .foster_pic{
    background-image: url('lib/img/dog5.jpg');
}
.foster_list  div:nth-of-type(4) .gallery:nth-of-type(3) .foster_pic{
    background-image: url('lib/img/dog4.jpg');
}
.foster_list  div:nth-of-type(4) .gallery:nth-of-type(4) .foster_pic{
    background-image: url('lib/img/dog3.jpg');
}

.foster_list  div:nth-of-type(5) .gallery:first-of-type .foster_pic{
    background-image: url('lib/img/dog2.jpg');
}
.foster_list  div:nth-of-type(5) .gallery:nth-of-type(2) .foster_pic{
    background-image: url('lib/img/dog1.jpg');
}
.foster_list  div:nth-of-type(5) .gallery:nth-of-type(3) .foster_pic{
    background-image: url('lib/img/shelterdog1.jpg');
}
.foster_list  div:nth-of-type(5) .gallery:nth-of-type(4) .foster_pic{
    background-image: url('lib/img/shelterdog5.jpg');
}



.show_more {
    width: 178px;
height: 60px;
border-radius: 5px;
background-color: #c2c2c2;
transition: 300ms;
}

.show_more:hover {
 background-color: #ececec;
 border: 1px solid #c2c2c2;
}

.top_btn{  
    display: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
background-color: #C2C2C2;
background-image: url('lib/icons/uparrow.png');
background-position: center -5px;
background-repeat: no-repeat;
background-size: 80%;
transition: 300ms;
position: fixed;
right:250px;
bottom:240px;
}

.top_btn:hover{
    background-color: #ececec;
}

.show {
    display: block;
}

.foster_pic > .foster_info {
    font-size: 19px;
    width: 300px;
    background: rgba(238, 252, 182, 0.7);
    border: 1px solid #747E48;
    box-sizing: border-box;
    border-radius: 30px;    
    display: none;
 z-index: 1;
    position: relative;
    top: -290px;
    left:250px;
  }

.foster_info h3, p{
    font-size: 19px;
}

.foster_apply {
    font-size: 24px;
    width: 220px;   
    height: 90px;
    background-color: #CCE85C;   
    text-align: left;
    transition: 300ms;

    position: sticky;
    left: 1325px;
    bottom: 320px;
}

.foster_apply p{
    display: inline-block;
    width: 89px;   
    padding-top: 10px;
  }

.foster_apply img {
    display: inline-block;
    width: 40px;
    height: 50px;   
    position: relative;
    top: -12px;
    left: 60px;
}

.foster_apply:hover{
    background-color: #EEFCB6;
    border: 1px solid #CCE85C;
}

