@font-face {
    font-family: "Roboto";
    src: url(lib/fonts/Roboto-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
   
}

body {
    font-family: "Roboto", sans-serif;
    width: 375px;
}

nav {   
    border-bottom: 5px solid #CCE85C;
    font-size: 18px;  
}

a.navbar-brand {
    font-size: 48px;
}


.navbar-brand >span {
    font-size: 48px;
 color:#CCE85C;
}

nav .container > span{
    font-size: 20px;
}

.navbar-toggler {
        box-shadow: 0px 0px 1px 1px #CCE85C;
}

.navbar-toggler:focus,
.navbar-toggler:active {
 box-shadow: 0px 0px 1px 3px #CCE85C;
}

.navbar .container .collapse .dropdown .dropdown-menu{
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #CCE85C;
}

.dropdown-menu{
    border: 2px solid #CCE85C;
    width: 50%;
}

.container-md {
    overflow: hidden;
}

.gallery_title h2 {    
    font-weight: bold;
    font-size: 22px;
    color: #c2c2c2;
}
.gallery_title a{
    float: right;
    font-size: 16px;
    text-decoration: none;
    background-color: #C2C2C2;
    color: #000000;
    border: 1px solid #828282;
    border-radius: 10px;
}

.banner {   
    height: 100px;
    background-image: url('lib/img/dogbanner2.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 0px -150px;  
    
}

.banner article {
    text-align: center;
    display: inline-block;    
    height: 100%;  
    width: 100%;
    background: rgb(204,232,92);
background: linear-gradient(90deg, rgba(204,232,92,1) 0%, rgba(204,232,92,0.5) 60%, rgba(204,232,92,0.3) 75%, rgba(204,232,92,0.2) 88%, rgba(232,190,92,0) 100%);
}
.banner article p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;    
}

.banner article button {
    width: 180px;
    height: 40px;
    font-size: 16px;
    background-color: #FFFFFF;
    border-radius: 28px;
    border: none;     
}


.foster_look h2{
    font-size: 20px;
    font-weight: bold;
    color: #C2C2C2;      
}

.foster_look  button {
    font-size: 16px;  
    width: 80%;
    height: 50px;    
    background: #CCE85C;
    border-radius: 5px;
    border: none;   
}

.foster_img {
    background-image: url('lib/img/dog18.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;   
    width: 160px;   
    height: 160px;
    border-radius: 60%;    
   color: #FFFFFF;

}

.foster_look .row:nth-of-type(1) .col-6:last-of-type .foster_img {
    background-image: url('lib/img/dog17.jpg');
}
.foster_look .row:nth-of-type(2) .col-6:first-of-type .foster_img {
    background-image: url('lib/img/dog16.jpg');
}
.foster_look .row:nth-of-type(2) .col-6:last-of-type .foster_img {
    background-image: url('lib/img/dog15.jpg');
}

.vol_look .row {      
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 10px;
}

.vol_look  button{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #EEFCB6;
    border: none;
    border-radius: 50%;   
}

footer { 
       background-color: #828282;
    font-size: 12px;
    color: #FFFFFF;
}



footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer .contact .link {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;    
}

.contact .social {
    width: 40px;
    height: 40px;
   
}

.social img {
    width: 40px;
    height: 40px;   
}



.contact_form { 
    width: 700px;    
    border: 1px solid #747E48;
    border-radius: 15px;
    background-color: #eefcb6f3;    
    z-index: 1;

    position: fixed;
    top: 200px;
    left: calc(32%);
}

.contact_form h3{
    font-size: 24px;
    text-align: center;
}

.contact_form label {
    font-size: 19px;
}
#emailHelp {
    font-size: 12px;
}

.contact_form button {
    font-size: 19px;
    border: 1px solid #747E48;
    border-radius: 10px;
    transition: 300ms;
}
.contact_form button:nth-of-type(2) {
    float: right;
   
}
