
.intro h2{
    color: #370617;
    font-size: 22px;
    font-weight: bold;
}

.intro p {
    color: #03071E;
    font-size: 16px;
}

.carousel-item{
    height: 350px;
   
}
.carousel-item img{
    height: 350px;
}

.carousel-caption h5,
.carousel-caption p{
  font-weight: bold;
 background-color: #c2c2c26c;
 
}

.gallery_title h2 {    
    font-weight: bold;
    font-size: 22px;
    color: #370617;
}
.gallery_title a{
    float: right;
    font-size: 16px;
    text-decoration: none;
    background-color: #FFBA08;
    color: #03071E;
    border: 1px solid #370617;
    border-radius: 10px;
}

.gallery_title a:active {
    font-weight: bold;
    background-color: #FAA307;
  box-shadow: 0px 0px 1px 1px #E85D04;
}

.banner {      
    background-image: url('../lib/img/dogbanner2.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 0px -150px;  
    
}

.banner article {
    text-align: center;
    display: inline-block;    
    height: 100%;  
    width: 100%;

    background: rgb(250,163,7);
background: linear-gradient(90deg, rgba(250,163,7,1) 0%, rgba(250,163,7,0.5) 60%, rgba(250,163,7,0.3) 75%, rgba(250,163,7,0.3) 88%, rgba(232,190,92,0) 100%);
 
}
.banner article p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;    
}

.banner article button { 
    font-size: 22px;
    background-color: #FFFFFF;
    border-radius: 28px;
    border: none;     
}
.banner article button:active{
    background-color: #E85D04;
}

.foster_look h2{
    font-size: 20px;
    font-weight: bold;
    color: #03071E;      
}

.foster_look button {
    font-size: 16px;  
    width: 80%;
    height: 50px;    
    background: #FFBA08;
    border-radius: 5px;
    border: none;   
}

.foster_look button:active{
    background-color: #FAA307;
}

.foster_img {
    background-image: url('../lib/img/dog18.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;   
    width: 160px;   
    height: 160px;
    border-radius: 60%;    
   color: #FFFFFF;

}

.foster_look .row:nth-of-type(1) .col-6:last-of-type .foster_img {
    background-image: url('../lib/img/dog17.jpg');
}
.foster_look .row:nth-of-type(2) .col-6:first-of-type .foster_img {
    background-image: url('../lib/img/dog16.jpg');
}
.foster_look .row:nth-of-type(2) .col-6:last-of-type .foster_img {
    background-image: url('../lib/img/dog15.jpg');
}

.vol_look .row {      
    background: #FFFFFF;
    border: 1px solid #E85D04;
    box-sizing: border-box;
    border-radius: 10px;
}

.vol_look button{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #FAA307;
    border: none;
    border-radius: 50%;   
}

.vol_look button:active{
    background-color: #FFBA08;
}

