
.intro h1 {
    color: #c2c2c2;
    font-size: 22px;
    font-weight: bold;
}

.intro p {
    color: #828282;
    font-size: 16px;
}

header {
    background-color: #EEFCB6;    
    width: 100%;
}
header h2 {
    font-size: 18px;
    font-weight: bold;
    color: #747e48;
}

header button {
    font-size: 20px;
    color: black;    
background: #EEFCB6;
border: 1px solid #747E48;
box-sizing: border-box;
border-radius: 30px; 
transition: 300ms;
}

header button:active {
    background-color: #CCE85C;;
}


.adopt_list > p {
    font-size: 12px;
    color: #828282;
}

.adopt_info {
    font-size: 16px;
    background: #EEFCB6;
}

.adopt_info p{
    font-size: 14px;
    color: #828282;
}

.img{
    width: 100%;
    height: 300px;  
    background-size: 100%;
    background-repeat: no-repeat;
}

.adopt_list >div:first-of-type .img {
    background-position: 0px -90px;
    background-image: url('https://res.cloudinary.com/biekimes/image/upload/v1623633791/dogs%20of%20ypap/arnie1.jpg');
}
.adopt_list >div:nth-of-type(2) .img {
    background-position: 0px -90px;
    background-image: url('https://res.cloudinary.com/biekimes/image/upload/v1623633797/dogs%20of%20ypap/buddy1.jpg');
}
.adopt_list >div:nth-of-type(3) .img {
    background-position: 0px -60px;
    background-image: url('https://res.cloudinary.com/biekimes/image/upload/v1623633806/dogs%20of%20ypap/chonks1_pvmaa4.jpg');
}

#jelly .img{
    background-position: 0px -60px;
    background-image: url('../lib/fotos_de_ypap/jelly1.jpg');
}
#kookie .img{
    background-position: 0px -130px;
    background-image: url('../lib/fotos_de_ypap/kookie1.jpg');
}
#nike .img{
    background-position: 0px -40px;
    background-image: url('../lib/fotos_de_ypap/nike1.jpg');
}

#cujo .img{
    background-position: 0px -100px;
    background-image: url('../lib/fotos_de_ypap/cujo3.jpg');
}
#amaia .img{
    background-position: 0px -40px;
    background-image: url('../lib/fotos_de_ypap/amaia1.jpg');
}
#paul .img{
    background-position: 0px -90px;
    background-image: url('../lib/fotos_de_ypap/paul1.jpg');
}

.show_more {    
    border-radius: 5px;
    background-color: #c2c2c2;
}
.show_more:focus{
    box-shadow: 0px 0px 3px 2px #EEFCB6
}

.show_more:active {
    background-color: #ececec;
    border: 1px solid #c2c2c2;
   }

.top_btn{  
 font-size: 12px;
 border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
background-color: #C2C2C2;
background-image: url('../lib/icons/uparrow.png');
background-position: center -5px;
background-repeat: no-repeat;
background-size: 80%;
float: right;   
}

.top_btn:active{
    background-color: #ececec;
}