@font-face {
    font-family: "Roboto";
    src: url(../lib/fonts/Roboto-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
   
}

body {
    font-family: "Roboto", sans-serif;
    width: 375px;
}

nav {   
    border-bottom: 5px solid #CCE85C;
    font-size: 18px;  
}

a.navbar-brand {
    font-size: 48px;
}


.navbar-brand >span {
    font-size: 48px;
 color:#CCE85C;
}

nav .container > span{
    font-size: 20px;
}

.navbar-toggler {
        box-shadow: 0px 0px 1px 1px #CCE85C;
}

.navbar-toggler:focus,
.navbar-toggler:active {
 box-shadow: 0px 0px 1px 3px #CCE85C;
}

.navbar .container .collapse .dropdown .dropdown-menu{
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #CCE85C;
}

.dropdown-menu{
    border: 2px solid #CCE85C;
    width: 50%;
}

footer { 
       background-color: #828282;
    font-size: 12px;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer .contact .link {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;    
}


footer a:active{
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;  
    text-shadow: 0px 0px 5px  black;
}

footer .contact .link:active{
    text-shadow: 0px 0px 5px  black;
}

.contact .social {
    width: 40px;
    height: 40px;
   }

.social img {
    width: 40px;
    height: 40px;   
}
.social img:active {
    border-radius: 50%;
    width: 40px;
    height: 40px;   
    box-shadow: 0px 0px 5px 2px  black;
}

.contact_form { 
   width: 100%;
    border: 1px solid #747E48;
    border-radius: 15px;
    background-color: #eefcb6f3;    
    z-index: 2;

     position: fixed;
    top: 100px;   
}

.contact_form h3{
    font-size: 20px;
    text-align: center;
}

.contact_form label {
    font-size: 16px;
}

#emailHelp {
    font-size: 10px;
}

.contact_form button {
    font-size: 16px;
    border: 1px solid #747E48;
    border-radius: 10px;
  
}

.contact_form button:nth-of-type(2) {
    float: right;
}

.contact_form button:active{
    background-color:#bcd363;
}




.flag_container div{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 300ms;
}
.eng{
    background-image: url('../lib/icons/eng_flag.png');
}
.kor{
    background-image: url('../lib/icons/south-korea.png');
}
.esp{
    background-image: url('../lib/icons/esp_flag.png');
}

.flag_container div:active{
    transform: scale(1.015);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px  black;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;   
  }

 